bin/*
bin-int/*

*/bin/*
*/bin-int/*

**/bin/*
**/bin-int/*

Release/*
*/Release/*
**/Release/*

Debug/*
*/Debug/*
**/Debug/*

*.log
*/*.log
**/*.log

*.json
*/*.json
**/*.json

.vs/*
*/.vs/*
**/.vs/*

.sln
.vcxproj
.vcxproj.filters
.vcxproj.user

*/*.sln
*/*.vcxproj
*/*.vcxproj.filters
*/*.vcxproj.user

**/*.sln
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user

imgui.ini
*/imgui.ini
**/imgui.ini

*.crt
*.key
*.pem

*/*.crt
*/*.key
*/*.pem

**/*.crt
**/*.key
**/*.pem

*.make
*.Make
Makefile
MakeFile

*/*.make
*/*.Make
*/Makefile
*/MakeFile

**/*.make
**/*.Make
**/Makefile
**/MakeFile

CppProperties.json
*/CppProperties.json
**/CppProperties.json
