bin/*
bin-int/*
*/bin/*
*/bin-int/*

Makefile 
*.obj
*.o

.vs/*

*/*.sln
*/*.vcxproj
*/*.vcxproj.filters
*/*.vcxproj.user*

*/imgui.ini
*/.vs/*

*.crt
*/*.crt
*.key
*/*.key
*.pem
*/*.pem

Makefile
MakeFile
*.make
*.Make

*/compile_commands.json
