bin/*
bin-int/*
*/bin/*
*/bin-int/*
**/bin/*
**/bin-int/*

*/.vs/*
.vs/*

*/*.sln
*/*.vcxproj
*/*.vcxproj.filters
*/*.vcxproj.user

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*/imgui.ini
*/.vs/*

*.crt
*/*.crt
*.key
*/*.key
*.pem
*/*.pem

Makefile
MakeFile
*.make
*.Make

*/Makefile
*/MakeFile
*/*.make
*/*.Make

CppProperties.json
*/CppProperties.json

CppProperties.json
*/CppProperties.json
